<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is ejs file
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> f090a945e9bec87db98b1f83d60c5469257d01ed
